@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="header-h1 text-container">Welcome to Redneck Outback University website.</h1>

    <h2 class="header-h2 text-container">Swamp People</h2>
    <p class="article-paragraph text-container">
        Our university offers students many different specialties. Here you can learn how to hunt alligators in the 
        "honeyholes" of Louisiana, it's ostensibly a Man v Monster, rooty-tooty, point-and-shooty affair. The education 
        deeper appeal, though, is in its affectionate character portraits, such as figurehead wrangler Troy Landry, who
        sounds like an old bluesman chewing a shoe. Sepia cutaways illustrate how life here has changed little in 300 years,
        while segments on Cajun spiritual healers make for welcome breaks from Troy chasing a 14ft carnivorous avocado.
        Revealed: the legend of "wrestling gators" is a little bit of a myth. They shoot them in the head first.
    </p>

    <h2 class="header-h2 text-container">Hillbilly Handfishin'</h2>
    <p class="article-paragraph text-container">
        Meet Skipper Bivins, a hairy Ian Botham type who organises "noodling" experiences. Noodling means fishing for
        enormous catfish with your bare hands and feet; it also goes by the names catfisting, gurgling, dogging and stumping,
        but presumably you can't pitch a show called catfisting, even to cable TV. Watching a man push apprehensive tourists
        into underwater beaver holes in an attempt to kick fish is quite limited television. Yet the show endears because the
        real fish out of water are the visiting city slickers, and because of Skipper's enormous geniality: "I knew you was a
        couple of moxies, after that fish like a duck on a junebug!.
    </p>

    <h2 class="header-h2 text-container">Bamazon</h2>
    <p class="article-paragraph text-container">
        Low-octane prospecting show featuring a team of eight unemployed Alabama construction workers mining for gold in the
        Amazon. One feels for the boys battling humidity, equipment failure and parasitic fish beelining for their urethras,
        but they're boring in more than one sense of the word. They toil uselessly as imperially unlikable boss-hog Tim Evans
        asserts a "git 'er done" mulish anti-rationality. Ordering them to sail a 24-ton excavator up the Cuyuni river like
        a piggy Fitzcarraldo, it's hard to care about his mission to strip-mine tracts of Guyanese rainforest. In addition,
        Bamazon may be the ugliest portmanteau word since "slanket.
    </p>
</div>