html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
  
}
