/* Header navigation */
.header {
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
  height: 70px;
  background-color: #f7be14;
}

.navbar-brand {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  margin: 0 20px;
  height: 60px;
  padding: 4px 0 0 180px;
  background-image: url("../img/LogoYellowBlack.jpg");
  background-repeat: no-repeat;
  background-size: 150px, 70px;
  background-position-y: left;
}

/* common styles */
.container {
  margin: 0 auto;
  padding: 0;
  width: 1170;
  font-family: Arial, Helvetica;
}

.text-container {
  color: #fff;
}

.header-h1 {
  margin: 0 0 30px 0;
}

.header-h2 {
  margin: 0 0 20px 0;
}

.header-h3 {
  margin: 0 0 10px 0;
}

.article-paragraph:not(:last-child) {
  margin: 0 0 40px 0;
}

/* Home */
/* Index */
.home-list {
  vertical-align: top;
  list-style-type: none;
}

.article-paragraph-home-1, .article-paragraph-home-2 {
  display: inline-block;
  width: 40%;

}

.home-img-1, .home-img-2 {
  width: 50%;
  display: inline-block;
}

.home-img-1 {
  margin: 0 30px 80px 0;
}

.home-img-2 {
  margin: 0 0 80px 30px;
}

/* About ROU */
/* Index */
.certificate-list {
  padding: 0;
  margin: 0;
}

.certificate-list-item {
  display: inline-block;
}

.certificate-list-item:not(:last-child) {
  margin: 0 20px 30px 0;
}

.certificate-img-1, .certificate-img-2, .certificate-img-3 {
  height: 320px;
}

.courses-list {
  list-style-type: upper-roman;
  color: #fff;
  margin: 0;
}

.courses-list-item:not(:last-child) {
  margin: 0 0 40px 0;
}

/* For Stedents */
/* Index */
.teachers-list {
  margin: 0 0 40px 0;
  padding: 0;
}

.teachers-list-item {
  display:inline-block;
}

.teachers-list-item:not(:last-child) {
  margin-right: 60px;
}

.table {
  margin: 0 0 40px 0;
  background-color:lightgray;
}

.table-row {
  vertical-align: top;
}

.table-cell {
  color: black;
  padding: 10px 5px;
}